footer{
    color: black;
    position: relative;
    background: linear-gradient(0deg, rgba(240,228,183,1) 0%, rgba(240,228,183,0) 100%);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer div{
    margin-left: 5rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

footer div h3{
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 600;
}

footer div ul li{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

footer div ul li button{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div ul li p{
    margin-left: 5px;
}

footer div ul li button img{
    width: 25px;
}

footer .SocialMedia{
    justify-content: center;
}

