@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.TitleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    animation: OpacityChanger 2s ease-in-out forwards;
}

.TitleContainer::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #90bb53;
    bottom: 50%;
    z-index: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.TitleContainer .paragraphContainer{
    background-color: #f0e4b7;
    border: 2px solid #90bb53;
    width: 22rem;
    text-align: center;
    border-radius: 50px;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 22px;
    font-weight: 700;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.TitleContainer .paragraphContainer p{
    color: transparent;
    background: linear-gradient(98deg, rgba(83,109,47,1) 12%, rgba(100,131,57,1) 38%, rgba(144,187,83,1) 64%, rgba(144,187,83,1) 94%, rgba(144,187,83,1) 100%);
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: BackgroundColorChanger 5s infinite ease-in-out;
}


@keyframes BackgroundColorChanger {
    0% {
        background-position: 0% 50%;
        background-clip: text;
    }
    50% {
        background-position: 100% 50%;
        background-clip: text;
    }
    100% {
        background-position: 0% 50%;
        background-clip: text;
    }
}

@keyframes OpacityChanger {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}